*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container-monkey__emoge{
  font-size: 100px;
  object-fit: cover;
  cursor: pointer;
}
.monkey-two{
  display: none;
}

